<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Musée du Louvre</title>
            <script src = "{{ asset('js/jquery.min.js') }}"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link href = "{{ asset('css/main.css')}}" rel = "stylesheet" />
        <script src="https://js.stripe.com/v3/"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    </head>
    <body>
        {% include 'navbar/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
        {% block aside %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
{% include 'footer/footer.html.twig' %}

</html>

