{% extends 'layout.html.twig' %}

{% block body %}
<h1>Formulaire de réservation</h1>
<ul>
  <li>Informations générales</li>
  <div id = 'basket'>
      {{ form(formBasket) }}
      {% for message in app.session.flashbag.get('infos') %}
        <p>{{ message }}</p>
      {% endfor %}
  </div>
  <hr />
  <li>Billet(s)</li>
  <div id = 'billet'>
    {{ form(formBillet) }}
  </div>
</ul>

{% endblock %}
