{% extends 'layout.html.twig' %}

{% block body %}
<h1>Formulaire de réservation</h1>
<ul>
  <li>Informations générales</li>
  <div id = 'basket'>
    {{ form_start(formBasket) }}
    {{ form_widget(formBasket) }}
    {{ form_end(formBasket) }}
    <a href="#" id="add_billet" class="btn btn-default">Ajouter un billet</a>
  </div>
</ul>
{% endblock %}

{% block aside %}
<div id = 'recap'>
  <ul></ul>
</div>
{% endblock %}
