<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.louvre.fr/"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Réservation de billet en ligne</a></li>
            </ul>
        </div>
    </nav>
</header>
