<header>
    <div id = "conteneur">
        <div class = "index">
            <a href = '{{ path('homepage') }}'><p>Accueil</p></a>
        </div>
        <div class = "reservation">
            <p>Réservation</p>
        </div>
        <div class = "lien_site">
            <p>Vers le Musée du Louvre</p>
        </div>
    </div>
</header>