{% extends 'layout.html.twig' %}

{% block body %}
<h1>Formulaire de réservation</h1>
<ul>
  <li>Informations générales</li>
  <div id = 'basket'>
      {{ form(formBasket) }}
  </div>
  <hr />
  <li>Billet(s)</li>
  <div id = 'billet'>
      {{ form(formBillet) }}
  </div>
</ul>

{% endblock %}
