{% extends 'layout.html.twig' %}

{% block body %}
<h1>Formulaire de réservation</h1>
<ul>
  <li>Informations générales</li>
  <div id = 'basket'>
      {{ form(form) }}
  </div>
  <li>Billet(s)</li>
</ul>
{% endblock %}
