#conteneur
{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width: 600px;

}
.index, .reservation, .lien_site
{
    margin-left:20px;
    padding:auto;
    color:white;
    padding-top:5px;
}
h1
{
    text-align:center;
}
header
{
    background-color:rgb(34,34,34);
}
a
{
    text-decoration:none;
    color:white;
}
html
{
    background-image:url('../img/background.jpg');
}
body
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    min-height:620px;
    background-attachment: fixed;
    background-color: rgba(10,10,10,0.5);
}
#title, footer
{
    color:white;
}
p
{
    color:white;
}
#firstArticle
{
    width:600px;
}
#secondArticle
{
    width:600px;
    float:right;
}
#btnLienReservation
{
    margin-left:40%;
    margin-top:5%;
}
footer
{
    position:absolute;
    bottom:0;
    margin-left:20%;
    margin-bottom:20px;
}
#form, h1
{
  color:white;
}
li
{
  font-weight: bold;
  color:white;
}
ul
{
  margin-left:10%;
  margin-right:45%;
}
.form-group
{
  padding-top:10px;
}
#basket, #billet
{
  margin-left:30px;
}
.ui-icon.ui-icon-circle-triangle-e
{
  float:right;
}
.ui-datepicker-title
{
  text-align:center;
}
#ui-datepicker-div
{
  background-color: rgba(0,0,0,0.8);
  color:white;
}
input, select
{
  float:right;
}
#form_birthdate
{
  margin-top: -5%;
  margin-bottom: 5%;
}
.validFormBasket
{
  margin-left:20%;
}
.validFormBillet
{
  margin-left:33%;
}
#basket p
{
  text-align:center;
}
