.navbar-brand
{
    background-image: url("../img/logo.jpg");
    min-width:175px;
}
.panel-default
{
    text-align:center;
    bottom:0;
}
h1, footer
{
    text-align:center;
}
li, #titreResa
{
    font-weight:bold;
    font-size:21px;
}
#add_billet {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-top: -20px;
}
form
{
    width:80%;
}
#aside
{
    margin-right:20px;
    margin-top:2%;;
    padding:20px;
    border:1px solid black;
    min-height: 650px;
    height:auto;
    min-width:250px;
    width:auto;
}
#accessibilite {
    width: 400px;
    margin-left: 50px;
}
#resaBillet
{
    text-decoration: none;
    font-weight:normal;
}
#resaBillet p
{
    font-size:16px;
}
.btn-danger
{
    float:right;
    margin-right:1%;
}
#modif_Billet
{
    background:gray;
    padding:20px;
    display:none;
    z-index:10001;
    position:absolute;
    top:0;
    left:0;
    height:500px;
    width:500px;
}
#validationPanier
{
    height:auto;
    margin-left:40%;
    font-size:1.5em;
    border-radius:3px;
}
.col-form-legend
{
    margin-bottom:0px;
    border-bottom: none;
}
#totalPrice
{
    font-size:0.8em;
}
#submitForm
{
    position:absolute;
    margin-top:-525px;
    margin-left:43%;
}

#priceBasket
{
    border: 1px solid black;
    width:250px;
    margin-right:60px;
    padding: 10px;
}
#titreTotal
{
    text-align:center;
}
#bodyRecap
{
    display: inline-flex;
    height:auto;
}
#infosClients
{
    width:250px;
    margin-left:30px;
}
#recap
{
    width:800px;
}
#basket
{
    display:inline-flex;
}
.priceBasket
{
    margin-left:70%;
    width:200px;
    text-align:right;
}
#status
{
    text-align:center;
}
.stripe-button-el
{
    margin-left:25%;
}
#container
{
    min-height:480px;
}
body
{
    background-image: url("../img/background.jpg");
}
.flash-notice
{
    text-align:center;
    color:red;
}
#map
{
    height:300px;
}
