<html>
<title>Modification du billet</title>
<form>
<div id = "formName">Votre nom : <input type = "text" value = '+name+' /><br /></div>
<div id = "formFirstName">Votre prénom : <input type = "text" value = '+firstname+' /><br /></div>
<div id = "formBirthDate">Votre date de naissance : <input type = "date" value = '+textdate+' /><br /></div>
<div id = "formCountry">Votre pays de résidence : <select name = "country"><option value = '+country+'>'+country+'</option><option value = "Angleterre">Angleterre</option></select><br /></div>
<div id = "formCheckTarif">Tarif réduit ? : <input type = "checkbox" '+tarifreduit+' /><br /></div>
<div id = "formSubmit"><input type = "button" onclick = "modifBillet()" value = "Modifier"/></div>
<div id = "formClose"><input type = "button" value = "Annuler" onclick = window.close() /></div>
</form>
<script src = "{{ asset('js/main.js') }}"></script>
</html>
